-- Execute no Supabase SQL Editor para reverter o saque para pendente:
UPDATE withdrawals SET status = 'pending', reviewed_at = NULL, reviewed_by = NULL, admin_notes = NULL WHERE status = 'approved';
